<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <style>
    button img {
      height: 200px;
      width: 200px;
    }

    input {
      width: 216px;
      font-size: 100px
    }
  </style>
</head>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<body>
  <button id="createMutiPlayerMap"><img src=img/CreateMutiMap.png> </button> <button id="createMapDb"><img src=img/CreateMap.png> </button> <button id="createDictDb"><img src=img/CreateDinctionary.png> </button> <button id="createEquipDb"><img
      src=img/CreateEquipment.png> </button> <br>
    <input type="button" id="delMutiPlayerMap" value="刪除多人遊戲地圖">
    <input type="button" id="delMapDb" value="刪掉地圖資料庫">
    <input type="button" id="delDictDb" value="刪掉字典資料庫">
    <input type="button" id="delEquipDb" value="刪掉裝備資料庫">
</body>

</html>

<script>
  $("#createMutiPlayerMap").click(function() {

    if (confirm("確定要創建多人遊戲地圖資料庫?")) {
      $.ajax({
        url: location.href, // 要傳送的頁面
        method: 'POST', // 使用 POST 方法傳送請求
        dataType: 'json', // 回傳資料會是 json 格式
        data: {
          type: "createMutiPlayerMap"
        }, // 將表單資料用打包起來送出去
        success: function(res) {
          alert("succcess");
        }
      })

    }
  });


  $("#createMapDb").click(function() {
    if (confirm("確定要創建地圖資料庫?")) {
      $.ajax({
        url: location.href, // 要傳送的頁面
        method: 'POST', // 使用 POST 方法傳送請求
        dataType: 'json', // 回傳資料會是 json 格式
        data: {
          type: "createMapDB"
        }, // 將表單資料用打包起來送出去
        success: function(res) {}
      })
      alert("succcess");
    }
  });
  $("#createDictDb").click(function() {
    if (confirm("確定要創建字典資料庫?")) {
      $.ajax({
        url: location.href, // 要傳送的頁面
        method: 'POST', // 使用 POST 方法傳送請求
        dataType: 'json', // 回傳資料會是 json 格式
        data: {
          type: "createDict"
        }, // 將表單資料用打包起來送出去
        success: function(res) {}
      })
      alert("succcess");
    }
  });
  $("#createEquipDb").click(function() {
    if (confirm("確定要創建裝備資料庫?")) {
      $.ajax({
        url: location.href, // 要傳送的頁面
        method: 'POST', // 使用 POST 方法傳送請求
        dataType: 'json', // 回傳資料會是 json 格式
        data: {
          type: "createEquip"
        }, // 將表單資料用打包起來送出去
        success: function(res) {}
      })
      alert("succcess");
    }
  });


  $("#delMutiPlayerMap").click(function() {
    if (confirm("確定要刪除多人地圖資料庫?")) {
      $.ajax({
        url: location.href, // 要傳送的頁面
        method: 'POST', // 使用 POST 方法傳送請求
        dataType: 'json', // 回傳資料會是 json 格式
        data: {
          type: "delMutiPlayerMap"
        }, // 將表單資料用打包起來送出去
        success: function(res) {}
      })
      alert("succcess");
    }
  });









  $("#delMapDb").click(function() {
    if (confirm("確定要刪除地圖資料庫?")) {
      $.ajax({
        url: location.href, // 要傳送的頁面
        method: 'POST', // 使用 POST 方法傳送請求
        dataType: 'json', // 回傳資料會是 json 格式
        data: {
          type: "delMapDb"
        }, // 將表單資料用打包起來送出去
        success: function(res) {}
      })
      alert("succcess");
    }
  });
  $("#delDictDb").click(function() {
    if (confirm("確定要刪除字典資料庫?")) {
      $.ajax({
        url: location.href, // 要傳送的頁面
        method: 'POST', // 使用 POST 方法傳送請求
        dataType: 'json', // 回傳資料會是 json 格式
        data: {
          type: "delDictDb"
        }, // 將表單資料用打包起來送出去
        success: function(res) {}
      })
      alert("succcess");
    }
  });
  $("#delEquipDb").click(function() {
    if (confirm("確定要刪除裝備資料庫?")) {
      $.ajax({
        url: location.href, // 要傳送的頁面
        method: 'POST', // 使用 POST 方法傳送請求
        dataType: 'json', // 回傳資料會是 json 格式
        data: {
          type: "delEquipDb"
        }, // 將表單資料用打包起來送出去
        success: function(res) {}
      })
      alert("succcess");
    }
  });
</script>
