.castle_blockly{
  width: 22%;
  height: 50%;
  color: none;
  position: absolute;
  top: 30%;
  left: 10%;
}
.castle_blockly input[type="button"]{
  width: 100%;
  height: 100%;
  border: 0px;
  background-image: url('../img/castle2.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
}
.castle_code{
  position: absolute;
  top: 5%;
  left: 39%;
  width: 22%;
  height: 50%;
  color: none;
}
.castle_code input[type="button"]{
  width: 100%;
  height: 100%;
  border: 0px;
  background-image: url('../img/castle1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
}
.unCastle_code{
  position: absolute;
  top: 5%;
  left: 39%;
  width: 22%;
  height: 50%;
  color: none;
}
.unCastle_code input[type="button"]{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px;
  background-image: url('../img/lockCastle1.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  pointer-events: none;
}
.castle_link{
  position: absolute;
  top: 30%;
  right: 10%;
  width: 22%;
  height: 50%;
  color: none;
}
.castle_link input[type="button"]{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px;
  background-image: url('../img/castle3.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  cursor: pointer;
}
#buttonDiv{
  width: 350px;
  height: 75px;
  position: absolute;
  bottom: 5px;
  right: 1%;
}
#buttonDiv input[type="button"]{
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.equipageButton{
  border-width: 0px;
  background-image: url('../img/equipage.png');
  background-repeat: no-repeat;
  background-size: 90%;
  background-color: transparent;
  margin-right: 5px;
}
.instructionButton{
  border-width: 0px;
  background-image: url('../img/instruction.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  margin-right: 5px;
}
.achievementButton{
  border-width: 0px;
  background-image: url('../img/achievement.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  margin-right: 5px;
}
.settingAllButton{
  border-width: 0px;
  background-image: url('../img/setting_all.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  margin-right: 5px;
}


/*提醒介面*/
#remindView{
  z-index: 999;
  height: 30vh;
  width: 25vw;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15vh;
  margin-left: -12.5vw;
  background-color: #D5E8D4;
  overflow: auto;
}
#remindH2{
  font-size: 5vh;
  margin-top: 10vh;
}
#remindTrueBtn{
  height: 5vh;
  width: 8vw;
  font-size: 1.5vw;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #c0ec95;
  position: absolute;
  right: calc(50% - 4vw);
  bottom: 2vh;
  cursor: pointer;
}
.bkView{
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.74);
}
