.innerBox{
  width: 80%;
  padding: 40px;
  position: absolute;
  left: 10%;
  right: 10%;
  /* margin: 150px auto; */
  margin-top: 100px;
  border-style: none;
  text-align: center;
}
.innerBox h1{
  color: #000000;
  text-transform: uppercase;
  text-align:center;
  letter-spacing: 10px;
  font-weight: bold;
  font-style: 10px;
  font-family:Georgia;
}
#userImg,#passwordImg,#emailImg{
  width: 45px;
  height: 45px;
  margin-left: -45px;
}
.innerBox table{
  margin-left: auto;
  margin-right:auto;
}
.box input[type = "text"],.box input[type = "password"],.box input[type = "email"]{
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
  border:2px;
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  display: inline;
  margin: 25px auto;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  font-size: 20px;
  color: #000000;
  transition: 0.25s;
}
.box input[type = "password"]::placeholder,.box input[type = "text"]::placeholder,.box input[type = "email"]::placeholder {
  color: #7e7b7b;
  font-size: 25px;
  text-align: center;
  opacity: 1; /* Firefox */
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus{
  width: 350px;
  text-align: center;
  border-color: #000000;
}
.box #signUp{
  height: 74px;
  width: 74px;
  margin: 10px auto 0px 0px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #000000;
  background-image: url('../img/Car.png');
  background-size:50px 40px;
  background-color: rgba(102, 216, 246, 0.64);
  background-repeat: no-repeat;
  background-position: center;
}

/*提醒介面*/
#remindView{
  z-index: 999;
  height: 30vh;
  width: 25vw;
  border-style: solid;
  border-color: black;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15vh;
  margin-left: -12.5vw;
  background-color: #D5E8D4;
  overflow: auto;
}
#remindH2{
  font-size: 5vh;
  margin-top: 10vh;
}
#remindTrueBtn{
  height: 5vh;
  width: 8vw;
  font-size: 1.5vw;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  background-color: #c0ec95;
  position: absolute;
  right: calc(50% - 4vw);
  bottom: 2vh;
  cursor: pointer;
}
.bkView{
  z-index: 3;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.74);
}