.innerBox{
  width: 80%;
  padding: 40px;
  position: absolute;
  left: 10%;
  right: 10%;
  margin: 200px auto;
  border-style: none;
  text-align: center;
}
.innerBox h1{
  color: #000000;
  text-transform: uppercase;
  text-align:center;
  letter-spacing: 10px;
  font-weight: 50;
  font-family:fantasy;
}
#fb{
  width: 125px;
  height: 50px;
  margin: 10px 2.5px 0px 0px;
  background-image: url('../img/facebook_login.png');
  background-size:125px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
#gl{
  width: 125px;
  height: 50px;
  margin: 10px 0px 0px 2.5px;
  background-image: url('../img/google_login2.png');
  background-size:125px 50px;
  background-repeat: no-repeat;
  background-position: center;
}
.box input[type = "text"],.box input[type = "password"]{
  background: url('../img/user.png');
  background-size: 45px 45px;
  background-repeat: no-repeat;
  border:2px;
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  display: block;
  margin: 30px auto;
  text-align: center;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  font-size: 20px;
  color: #000000;
  transition: 0.25s;
}
.box input[type = "password"]{
  background: url('../img/lock-icon.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  border:2px;
  border-bottom-style: solid;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  display: block;
  margin: 30px auto;
  text-align: center;
  padding: 14px 10px;
  width: 250px;
  outline: none;
  font-size: 20px;
  color: #000000;
  transition: 0.25s;
}
::placeholder {
  color: #7e7b7b;
  font-size: 25px;
  opacity: 1; /* Firefox */
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus{
  width: 300px;
  text-align: center;
  border-color: #000000;
}
.box input[type = "submit"]{
  height: 74px;
  width: 74px;
  margin: 20px auto 0px 0px;
  border-radius: 50%;
  border-style: solid;
  border-width: 5px;
  border-color: #000000;
  background-image: url('../img/car.png');
  background-size:50px 40px;
  background-color: rgba(102, 216, 246, 0.64);
  background-repeat: no-repeat;
  background-position: center;
}
#forgetPassword{
  background: none;
  border-width: 0px;
  font-size: 18px;
  text-decoration:underline;
  color: #287286;
  margin: 30px 0px 0px 0px;
}

#signUp{
  font-size: 18px;
  margin: 15px 15px 0px 0px;
  color: #287286;
  text-decoration:underline;
  border-style:none;
  background: none;
}