<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/left.css">
    <link rel="stylesheet" href="css/right.css">
    <link rel="stylesheet" href="css/center.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
  </head>
  <body>
    <div class="wrap">
      <div class="main">
        <div class="box sidebarLeft"><!--left-->
          <img src="img/MARK.png" class = "leftMark">
        </div>
        <div class="box center">
          <div id="titleBar">
            <input type="button" value="" id="goBack" onclick="history.back()">
            <font>第XX關</font>
          </div>
          <div id="textareaBk" style="display: none;">
            <input type="button" id="clossDiv" value="X">
            <textarea id="textarea_1"></textarea>
          </div>
          <div id = "divcanvas"></div>
          <div id = "blocklyDiv">
            <textarea id="textarea_0"></textarea>
          </div>
          <div id = "blocklyButtonDiv">
            <input type="button" id="btn1" class="runButton"  value="" onclick="codeToCompiler();">
            <input type="button" class="transformButton" value="" onclick="changeToC(1)">
            <input type="button" class="restartButton" value="" onclick="myFunction()">
            <input type="button" class="settingButton" value="" onclick="">
          </div>
        </div>
        <div class="box sidebarRight"><!--right-->
          <font class = "userName">使用者名稱</font>
          <input type="button" class="userData" value="個人資料">
          <input type="button" class="signOut" value="登出" onclick="location.href='index.html';">
          <div class="userStar">
            <img src="img/star.png" class="imgIcon">
            <font class="starNumber">:xxx</font>
          </div>
          <div class="userGold">
            <img src="img/gold.png" class="imgIcon">
            <font class="starNumber">:xxx</font>
          </div>
        </div>
      </div>
      <div class="footer"></div>
    </div>
    <script src="gameNew/gameNew/js/p5.min.js"></script>
    <script src="gameNew/gameNew/js/p5.dom.js"></script>
    <script src="gameNew/gameNew/js/mian.js"></script>
  </body>
  <script>
  function getArgs() {
     var args = new Object();
     var query = location.search.substring(1);
     var pairs = query.split("&");
     for(var i=0;i<pairs.length;i++) {
        var pos = pairs[i].indexOf("=");
        if (pos == -1) continue;
        var argname = pairs[i].substring(0,pos);
        var value = pairs[i].substring(pos+1);
        args[argname] = decodeURIComponent(value);
     }
     return args;
  }
  var args = getArgs();
  if (args.level)
    changeCollege(args.level--);
  </script>
</html>
