<!DOCTYPE html>
<html  dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/oblivion.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>
    <title></title>
  </head>
  <body>
    <audio id="bkMusic" src="Fine_Line.mp3" preload loop volume="0"></audio>
    <div class="wrap">
      <div class="main">
        <div class="box sidebarLeft"><!--left-->
          <img src="img/MARK.png" class = "leftMark">
          <input type="button" id="helperBtn" value="" onclick="helper('createrDiv')">
        </div>
        <div class="box centerLost" id="centerLost">
          <h1 class="titleH1">玩家自訂關卡</h1>
          <input type="button" value="" id="goBack3"  onclick="back()">
          <select id="levelSelect" name="">
            <option value="all">&nbsp全&nbsp部</option>
            <option value="canPlay">可遊玩</option>
          </select>
          <div class="search-box">
            <input class="search-text" type="search" name="" id="searchTextBox"  placeholder="關卡名稱">
            <!-- <a href="javascript:;" class="clear"></a> -->
            <!-- <a href="#" onclick="console.log('1235464654');" class="clear"></a> -->
            <a class="search-btn"href="#">
              <i class="fas fa-search"></i>
            </a>
          </div>
          <div id="createrDiv">
            <table id="lostCreateTable" border=5 RULES=ALL>
              <tr>
                <td class="td01" onclick="changeTdName(this)">關卡名稱</td>
                <td class="td02" onclick="changeTdName(this)">遊玩條件</td>
                <td class="td03" onclick="changeTdName(this)">製作者</td>
                <td class="td04" onclick="changeTdName(this)">評價</td>
                <td class="td05" onclick="changeTdName(this)">發佈日期</td>
                <td class="td06" onclick="changeTdName(this)">關卡簡介</td>
              </tr>
            </table>
          </div>
          <input type="button" class="centerButton" id="createLevel" value="自訂關卡" onclick="location.href='oblivionUser';">
          <input type="button" class="centerButton" id="enterLevel" value="進入關卡" onclick="enterLevel()">
          <input type="button" class="settingAllButton" value="" onclick="settingAllView(centerLost)">
        </div>
        <div class="box sidebarRight"><!--right-->
          <font class = "userName" id="userName" ></font>
          <div class="userStar">
            <img src="img/star.png" class="imgIcon">
            <font class="starNumber" id="starNumber" ></font>
          </div>
          <button class="btnUser" onclick="userData()"><i class="fas fa-user"></i> 個人資料</button>
          <button class="btnLogout" onclick="logout()"><i class="fas fa-sign-out-alt"></i> 登出</button>
        </div>
      </div>
      <div class="footer"></div>
    </div>
    <script src="js/oblivion/oblivion.js"></script>

    <!-- <script type="text/javascript">
     
    </script> -->
  </body>
</html>
