<!DOCTYPE html>
<html  dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/oblivion.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <audio id="bkMusic" src="Fine_Line.mp3" autoplay loop></audio>
    <div class="wrap">
      <div class="main">
        <div class="box sidebarLeft"><!--left-->
          <img src="img/MARK.png" class = "leftMark">
          <input type="button" id="helperBtn" value="" onclick="helper('createrDiv')">
        </div>
        <div class="box centerLost" id="centerLost">
          <font>玩家自訂關卡</font>
          <input type="button" value="" id="goBack3"  onclick="back()">
          <div id="createrDiv">
            <table id="lostCreateTable" border=5 RULES=ALL>
              <tr>
                <td class="td01">關卡名稱</td>
                <td class="td02">遊玩條件</td>
                <td class="td03">製作者</td>
                <td class="td04">評價</td>
                <td class="td05">發佈日期</td>
                <td class="td06">關卡簡介</td>
              </tr>
            </table>
            <!--<table id="lostUserCreateTable0" class="lostUserCreateTable" border=5 RULES=ALL onclick="selectionLevel(this)">
              <tr>
                <td id="td01">左左右右左左右右右右</td>
                <td id="td02">???????</td>
                <td id="td03">Jhender</td>
                <td id="td04">4.5分</td>
                <td id="td05">2019/02/20</td>
                <td id="td06"><textarea name="name" rows="1" onfocus="blur()">左左再右右然後...左再右右然後..左再右右然後..</textarea></td>
              </tr>
            </table>
            <table id="lostUserCreateTable1" class="lostUserCreateTable" border=5 RULES=ALL onclick="selectionLevel(this)">
              <tr>
                <td id="td01">轉圈圈吧</td>
                <td id="td02">???????</td>
                <td id="td03">Fmin</td>
                <td id="td04">4分</td>
                <td id="td05">2019/03/02</td>
                <td id="td06">轉轉轉轉轉</td>
              </tr>
            </table>-->
          </div>
          <input type="button" class="centerButton" id="createLevel" value="自訂關卡" onclick="location.href='oblivionUser';">
          <input type="button" class="centerButton" id="enterLevel" value="進入關卡" onclick="enterLevel()">
          <input type="button" class="settingAllButton" value="" onclick="settingAllView(centerLost)">
        </div>
        <div class="box sidebarRight"><!--right-->
          <font class = "userName" id="userName" ></font>
          <div class="userStar">
            <img src="img/star.png" class="imgIcon">
            <font class="starNumber" id="starNumber" ></font>
          </div>
          <button class="btnUser" onclick="userData()"><i class="fas fa-user"></i> 個人資料</button>
          <button class="btnLogout" onclick="logout()"><i class="fas fa-sign-out-alt"></i> 登出</button>
        </div>
      </div>
      <div class="footer"></div>
    </div>
    <script src="js/oblivion/oblivion.js"></script>
  </body>
</html>
