/*main*/
#bkImg{
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
#bkScreen{
  z-index: 0;
  background: rgba(0, 0, 0, 0.1);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.footer {
  display: table-row;
  height: 0%;
  line-height: 80px;
  background: none;
}

/*center*/
.titleH1{
  font-size: calc(10px + 5vh);
  color: #7C5A43;
  font-family:Microsoft JhengHei;
  font-weight: bold;
  letter-spacing: 0.5vw;
  position: relative;
  top: calc(10px + 10vh);
  text-align:center;
}
.mUser{
  width: 20%;
  height: 50%;
  color: none;
  position: absolute;
  top: 30%;
  left: 10%;
}
.mUser input[type="button"]{
  width: 100%;
  height: 100%;
  border: 0px;
  background-image: url('../../img/managementUserBtn.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-color: transparent;
  cursor: pointer;
  position: absolute;
  top: 0px;
  left: 0px;
}
.mGame{
  width: 20%;
  height: 50%;
  color: none;
  position: absolute;
  top: 30%;
  left: 40%; /* 宜靜 2020.04.10 */
  transform: translateX(-50%);
}
.mGame input[type="button"]{
 width: 100%;
 height: 100%;
 border: 0px;
 background-image: url('../../img/enterGameBtn.png');
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-color: transparent;
 cursor: pointer;
 position: absolute;
 top: 0px;
 left: 0px;
}
.mStatistics{
  width: 20%;
  height: 50%;
  color: none;
  position: absolute;
  top: 30%;
  right: 30%; /* 宜靜 2020.04.10 */
}
.mStatistics input[type="button"]{
 width: 100%;
 height: 100%;
 border: 0px;
 background-image: url('../../img/managementStatisticsBtn.png');
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-color: transparent;
 cursor: pointer;
 position: absolute;
 top: 0px;
 left: 0px;
}
/* 以下宜靜 2020.04.10 */
.mRFMP{
  width: 20%;
  height: 50%;
  color: none;
  position: absolute;
  top: 30%;
  right: 10%;
}
.mRFMP input[type="button"]{
 width: 100%;
 height: 100%;
 border: 0px;
 background-image: url('../../img/RFMPtest.png');
 background-repeat: no-repeat;
 background-size: 100% 100%;
 background-color: transparent;
 cursor: pointer;
 position: absolute;
 top: 0px;
 left: 0px;
}
/* 以上宜靜 2020.04.10 */
@media(max-aspect-ratio:17/10){
  .mUser{
    width: 26%;
    height: 45%;
    color: none;
    position: absolute;
    top: 30%;
    left: 10%;
  }
  .mGame{
    width: 26%;
    height: 45%;
    color: none;
    position: absolute;
    top: 30%;
    left:40%; /* 宜靜 2020.04.10 */
    transform: translateX(-50%);
  }
  .mStatistics{
    width: 26%;
    height: 45%;
    color: none;
    position: absolute;
    top: 30%;
    right: 30%; /* 宜靜 2020.04.10 */
  }
  /* 以下宜靜 2020.04.10 */
  .mRFMP{
    width: 26%;
    height: 45%;
    color: none;
    position: absolute;
    top: 30%;
    right: 10%;
  }
  /* 以上宜靜 2020.04.10 */
}
