.leftMark{
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.leftMarkOut{
  width: 100%;
  height: 60px;
  position: relative;
  top: 0px;
}
@media (max-aspect-ratio:17/10){
  .leftMarkOut{
    width: 100%;
    height: 60px;
    position: relative;
    top: 10px;
  }
}
@media (max-aspect-ratio:17/10){
  .leftMark{
    width: 100%;
    height: 60px;
    position: relative;
    top: -11px;
  }
}
