*{
  margin: 0;
  padding: 0;
}
html,body {
  height: 100%;
}
body {
  color: black;
}
.wrap {
  height: 100%;
  display: table;
  width: 100%;
  text-align: center;
}
.main {
  display: table;
  height: 100%;
  width: 100%;
  min-height: 600px;
  overflow: auto;
}
.center{
  width: 80%;
  height: 90%;
  line-height: 90%;
  position: relative;
  min-width: 1000px;
}
.center #bkImg{
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}
.centerBlockly{
  width: 80%;
  height: 90%;
  line-height: 90%;
  position: relative;
  min-width: 900px;
}
.centerBlockly #bkImg{
  height: 100%;
  width: 110%;
  position: absolute;
  left: -8%;
}
.centerMidMap{
  width: 80%;
  height: 90%;
  line-height: 90%;
  position: relative;
}
.centerMidMap #bkImg{
  height: 100%;
  width: 110%;
  position: absolute;
  left: -8%;
}
.centerMidMap #fogBkImg{
  z-index: 3;
  height: 100%;
  width: 110%;
  opacity: 0.9;
  position: absolute;
  left: -8%;
}
.centerLost{
  background-color: #A7BBD1;
  width: 80%;
  height: 100%;
  line-height: 90%;
  position: relative;
}
.box {
  display: table-cell;
}
.sidebarLeft,.sidebarRight {
  width: 10%;
  height: 90%;
  z-index: 3;
  line-height: 90%;
  position: relative;
  background: #7C5A43;
  min-width: 134px;
}
.footer {
  display: table-row;
  height: 0%;
  line-height: 80px;
  background: none;
}
#goBack{
  width: 50px;
  height: 50px;
  font-size: 40px;
  background-image: url('../../img/goBack.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  border-width: 0;
  top: 10%;
  left: 1%;
  cursor: pointer;
}
#goBack2{
  width: 50px;
  height: 50px;
  background-image: url('../../img/goBack.png');
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  border-width: 0;
  top: 2%;
  left: 1%;
  cursor: pointer;
}
#goBack3{
  z-index: 3;
  width: 7vh;
  height: 7vh;
  font-size: 40px;
  border-width: 0;
  background-image: url('../../img/goBack3.png');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  position: absolute;
  top: 2%;
  left: 1%;
  cursor: pointer;
}
